.contenedor {
    @include flex(column, nowrap, center, center);
    gap: .625rem;
    margin-top: 15px;

    .div-inicio {
        display: flex;
        p{
            margin-bottom: 0;
        }
        p:nth-child(1) {
            color: gray;
        }
    }

    .cat-linea {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        width: 100%;

        div {
            border-top: .0625rem solid grey;
            margin-top: .9375rem;
        }

        h2 {
            text-align: center;
            font-size: 1.875rem;
            font-weight: 600;
            color: black;
        }
    }
}