@media (min-width: 768px) {

    /*HEADER*/
    header {
        flex-direction: column;
        width: 100%;
        height: 10rem;
        padding: 0;
    }

    .header-div {
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 6.25rem;
        width: 100%;
        border-bottom: solid .0625rem white;
        gap: 0;

        .buscar {
            width: 15.625rem;
            padding-bottom: .625rem;
            bottom: 0;

            form {
                .input-buscar {

                    margin-left: .3125rem;
                }
            }
        }

        a {
            width: 15.625rem;
            height: 4.375rem;

            h1 {
                margin: 0;
                text-align: center;
                height: 4.3125rem;
            }

        }

        .usuario-carrito {
            width: 15.625rem;
            justify-content: end;
            padding: .625rem .3125rem 0 0;
            span{
                font-size: 11px;
                top: -1%;
                right: 4%;
                height: .875rem;
            }
        }
    }

    .header-nav {
        padding-top: 0;
        height: 3.75rem;

        input,
        label {
            display: none;
        }

        ul {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            left: 0;
            height: 3.75rem;
            position: static;
            width: 100%;
            padding-left: 0;
            div{
                display: none;
            }
            li{
                padding: 0;
            }
        }
    }

    /*main INDEX*/
    .section-1 {
        div {
            img {
                width: 12.8125rem;
                height: 16.875rem;

                &:nth-child(3) {
                    display: block;
                }
            }
        }
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        grid-template-areas: "remeras pantalones sweaters";
        grid-template-rows: none;
        height: 23.75rem;
        a{
            div {
                width: 100%;
                height: 17.5rem;
            }
        }

    }

    /*main PRODUCTOS*/
    .fil-ord {
        div {
            display: flex;
            gap: .625rem;

            p {
                display: block;
                padding-top: .5rem;
            }
        }

        .filtrar-prod {
            display: none;
        }
    }

    .section-productos {
        grid-template-columns: 25% 75%;
        grid-template-areas: 
        "fil prod"
        ;
    }

    .cerrar-filtros{
        display: none;
    }
    .filtros {
        grid-area: fil;
        padding-left: 1.875rem;
        margin-bottom: 2.5rem;
        position: relative;
        z-index: 0;
        transform: translateX(0);
        .contenedor-filtros{
            padding: 0;
            gap: 3.75rem;
        }
    }

    .productos {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        grid-area: prod;
        box-sizing: border-box;

        div {
            &:nth-child(9) {
                display: block;
            }

            img {
                max-width: 100%;
                height: 16.875rem;
            }
        }

        input {
            grid-column: 2/3;
            width: 100%;
            font-size: .75rem;
        }
    }

    .p-vacio{
        grid-area: prod;
        font-size: medium;
        padding: 0;
        text-align: start;
    }



    /*main CONTACTO*/
    .contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*main COMO COMPRAR*/
    .como-comprar {
        form {
            width: 37.5rem;
            justify-content: center
        }
    }

    /*main GIFT CARD*/
    .gift-card {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        gap: 0;
    }

    /*MAIN PRODUCTO DETALLE*/
    .contenedor-producto{
        flex-direction: row;
        justify-content: center;
        padding: 3rem 2rem;
    }
    .contenedor-producto-img{
        width: 50%;
    }

    .detalles-producto{
        gap: 1.5rem;
    }

    /*CARRITO*/
    .contenedor-carrito{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrito-productos{
        width: 90%;
    }
    .carrito-producto{
        height: 8rem;
        img{
            height: 8rem;
        }
    }


    /*FOOTER*/
    footer {
        flex-direction: row;
        justify-content: space-around;
        height: 14.375rem;
        padding-top: 1.25rem;
    }
}